// dimensions
$unit: 4px;
$font-size-base: 62.5%;

// colors
$color-primary: rgba(231, 76, 60, 1);
$color-primary-contrast: rgba(255, 255, 255, 1);
$color-background: rgba(255, 255, 255, 1);
$color-background-contrast: rgba(12, 12, 12, 1);
$color-background-contrast-light: rgba(80, 80, 80, 1);
$color-background-separation: rgba(255, 255, 255, 0.3);