#todo-list {
  list-style-type: none;
  text-align: center;
  min-width: 500px;
  padding-left: 0;
}

.add-todo {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.add-todo_textfield {
  flex-grow: 1;
}